
html, body {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 00px;
  background-color: white;
  min-height: 100vh;
  height: 100%;
  font-family: 'Abel', sans-serif;

}

p {
  font-size: 2vw;
  font-family: 'Abel', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}
i {
  color: #333;
}
h1 {
  font-family: 'Abel', sans-serif;
}
h2 {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  color:  #333;
  text-decoration: none;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 48px;
  color:  #333;
  text-decoration: underline;

}
#Contact {
  color: #333;
}
#git{
  color: #24292e;
}

#info-icons {
  font-size: 2em;
  text-align: center;
}

#leftpanel {
  background-color: #afc2d5;
  text-align: center;
  margin: 0;
  padding 3px;
  border: solid .25em #333;
  border-right: 0em;

}

#main-photo {
  margin: 0 auto;
  display: block;
  border: 0px;
  margin-top: 2em;
  border: solid #333;
}

#Name {
  font-family: 'Abel', sans-serif;
  font-size: 64px;
  text-align: center;
  color: #333;
}

#personalStatement {
  font-size: 18px;
  padding-top: 10px;
}

#resumeLink {
padding: .5em;
text-decoration: none;
color: #333;
}

#rightpanel {
  border: solid .25em #333;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: none;


}

#twitter{
  color: #1DA1F2;
}

.box {
  border-color: #333;
  border-radius: 2px;
  border: solid;

}

.email {
  text-decoration: underline;
  color: #333;
}

.height {
  height: 100%;
}

.info {
  font-family: 'Abel', sans-serif;
  text-align: center;
  font-size: 18px;

}
.resumeButton{
  border: solid #333;
  padding: 3px;
  background-color: #C97B84;
}
.rightHeader{
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.titles {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #333;
}
